<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NAIJAAYOWORLDWIDE"
        android:networkSecurityConfig="@xml/network_security_config"
        android:memtagMode="async"
        tools:targetApi="31">

        <!-- AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1169009766287256~5385288658"/>

        <!-- Google Play Games Sidekick -->
        <meta-data
            android:name="com.google.android.gms.games.PlayGamesSidekick"
            android:value="@bool/play_games_sidekick_enabled" />

        <!-- Splash Screen - New Launcher -->
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.NAIJAAYOWORLDWIDE.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainMenuActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode|smallestScreenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".LevelSelectionActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".leaderboard.LeaderboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity android:name=".FriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SoundSettingsActivity" />
        <activity android:name=".ThemeSettingsActivity" />
        <activity android:name=".BoardSettingsActivity" />
        <activity
            android:name=".WaitingRoomActivity"
            android:screenOrientation="portrait" />


        <activity android:name=".GameRoomActivity" android:screenOrientation="portrait" />
        
        <activity
            android:name=".ui.BuyCoinActivity"
            android:screenOrientation="portrait" 
            android:theme="@style/Theme.NAIJAAYOWORLDWIDE.NoActionBar"/>
    </application>

</manifest>
